.DS_Store
*.swp
*.*~
.*~
*.d
*.o
*.a
gcov_*.txt
*.gcov
*.gcno
*.gcda
*_tests
*_cslim
*a.out
*.zip
tmp
pdfs
*.map
gcov
objs
lib
*_tests.txt
gcov*.html
.metadata
.settings
Releases
cpputest
*.sublime-*
*.pyc
kata-capture
*.save





